body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
}

#container {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover; 
    /*photo backup for the video*/
    /* background-image: url("https://media.giphy.com/media/fMYhlRdVtRnsk/giphy.gif"); */
    /* background-repeat: no-repeat; Do not repeat the image */
    background-color:rgba(109, 33, 79,.2);
}

 ul {
    list-style: none;
    padding-left: 0;
}

/* Pop Out Menu Styling */
/* Pop Out Menu */
#extra {
    max-width: 400px;
    min-width: 400px;
    position: relative;
    top:0%;
    left: 0%;
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: scroll;
    /* height: auto; */
}

.extra1 {
    display: none;
    /* this is better for a screen reader but the layout space 
    is still reserved even though not on page hmmm...
    
    position: relative;
    left: -1000%; */
}

.extra2 {
    background-color: rgba(255, 255, 0, .9);
    display: flex;
    /* display:flex;  swap this for display: none, none isnt good for screenreaders 
    but display:flex + left:-1000 moves the item off screen but it occupies the space */
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    box-sizing: border-box;
    left: 0%;
    top: 50%;
}

/* Pop Out Label Item Styling */


.labelinfo {
    position: relative;
    display: inline-block;
    box-sizing: border-box; 
    top:65%;
    left:0%;
    margin: 10px 0px;
}

.labelinfo:hover .overtext{
    opacity:1;
    background-color:rgba(109, 33, 79,1);
}

.overtext {
    position: absolute;
    top: 0;
    left:0; 
    height: 200px;
    width: 100%;
    opacity:0;
    transition: .8s ease;
    padding: 5px;
    box-sizing: border-box;
}

.wordStyle {
    position: absolute;
    text-align: center;
    padding:5px;
    top: 10%;
}

.djTitle {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 68%;
    left: 0%;
    width: 100%;
    padding: 7px 0px;
    font-size: 1.1rem;
}

/* POP OUT MENU HEAD DISPLAY */
.popupHead {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.popupHead a {
    align-self: flex-start;
    /* color: rgba(109, 33, 79,1); */
    color: rgba(0, 0, 0, 1);
}

/* Pop Up Label Image Adjustment */
.adjust {
    object-position: 0% 30%;
    transform: scale(2, 2) translateX(50px);
    clip-path: polygon(10.75% 25%, 60.75% 25%, 60.75% 75%,/*50% 50%,remove this 50% 50% to make it a square, keep it in for a jagged shape*/ 10.75% 75%);
}

.adjust2 {
    object-position: 0% 20%;
}

.img {
    height: 200px;
    width: 350px;
    object-fit: cover;
}

/* SCHEDULE POP OUT MENU */
.tableStyle {
    color: black;
    font-size: 1.5rem;
    padding: 10px;
    background-color: rgba(255, 255, 0, .9);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    position: relative;
    box-sizing: border-box;
    left: 0%;
    align-items: center;
    top: 0%;

    /* display:flex;  swap this for display: none, none isnt good for screenreaders 
    but display:flex + left:-1000 moves the item off screen but it occupies the space */
}

/* TABLE */
table {
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 100px;
}

tr:hover {
    background-color: rgb(223, 223, 223);
}

tr:nth-child(even) {
    color: white;
    background: #CCC;
}
tr:nth-child(odd) {
    background: #FFF;
    color:rgba(109, 33, 79,1);
}

.tableStyle td {
    padding: 10px 30px;
    min-width: 150px;
} 

/* STYLING FOR LINKS */
.linkStyle {
    color: white;
    text-decoration: none;
}

.linkStyle a {
    color: white;
    text-decoration: none;
}

/* NAVBAR STYLING */
nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 0 1 auto;
    background-color: rgba(111, 30, 81,.5);
}

/* MAIN PORTION NAV BAR */
#mainMenu {
    font-size: 1.5rem;
    text-align: right;
    box-sizing: border-box;
}

#mainMenu li a {
    padding-right: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: block;
    letter-spacing: .08rem;
    margin-bottom: 5px; 
}

/* LOGO STYLING */
#logo {
    box-sizing: border-box;
    padding: 20px 30px;
}

/* SOCIAL MEDIA PORTION NAVBAR  */
#socialMenu {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-left: 15px;
    color: white;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#socialMenu a {
    color: white;
    padding-right: 20px;
}

#socialMenu a:hover {
    color: yellow;
    transition: .8s background-color;
}

/* MAIN CONTENT SECTION */
section {
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 1 1 auto;
}

#summary {
    align-items: center;
    display:flex;
    flex-flow: row nowrap;
    flex: 0 1 auto; 
    position: relative;
    max-height: 150px;
    min-height: 150px;
    overflow: hidden;
    justify-content: space-between;
    background-color: rgba(111, 30, 81,.5);
}

#displayClear {
    box-sizing: border-box;
    font-size: 3rem;
    flex: 0 1 auto; 
}

#Tagline {
    padding-left: 10px;
    padding-right: 40px;
    font-size: 1.6rem;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 183px;
}

#Tagline {
    flex: 1 1 100px;
}

#currentInfo li {
    padding: 5px 15px;
    font-size: 1rem;
    flex: 1 1 100px;
    text-align: center;
    max-width: 200px;
}

#playLive {
    padding: 5px 15px;
    flex: 1 1 50px;
    text-align: right;
    max-width: 183px;
}

.fa-play {
    padding-right: 5px;
    animation:pulse 1s ease-in 0s infinite;
}

#mainMenu li a:hover {
    color: yellow;
    background-color:rgba(31, 9, 22, 0.8);
    transition: .8s background-color;
}

#mainMenu li a:focus  {
    color: yellow;
    background-color:rgba(31, 9, 22, 0.8);
   
} 

#currentInfo {
 letter-spacing: .1rem;
 flex: 1 1 auto;
 display: flex;
 flex: row wrap;
 align-items: center;
}

#lead {
    margin: 0;
}
#sell {
    margin:50px 10px;
    animation:fadeInLoop 15s ease-in 0s infinite;
    text-align: center; 
}

/* MUTE BUTTON  */
#silence {
    font-size: 2rem;
    padding: 25px;
    box-sizing: border-box;    
    text-align: right;
}

#silence a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;  
    color: yellow;
}

#silence a:hover {
   transition: all .8s;
    opacity: .3;
    background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.strikethru {
    background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

/* MEDIA QUERIES */
@keyframes pulse {
    0% {
        opacity: 1;
        color:red;
    } 

    75% {
        opacity: .25;
    } 

    100% {
        opacity: 0;
    }
}
  
  @keyframes fadeInLoop {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
  }

  #myVideo {
    position: fixed;
    top:0;
    left:0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }
/*   
@media (max-width: 880px) {
    #summary {
        align-items: center;
        display:flex;
        flex-flow: column nowrap;
    }

    #summary > * {
        padding-bottom: 5px;
        margin: 0px;
        display: inline-block;
    }
} */

@media (max-width: 1255px) {

    section{
        display:flex;
        flex-flow: column nowrap;
    }

    #Tagline {
        max-width: 183px;
    }

    #currentInfo {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: center;
    }

    #currentInfo li {
    height:30px;
    }

    #summary {
    flex: 0 1 auto;
    box-sizing: border-box;
    word-wrap: break-word;
    }   
}

@media (max-width:995px){

    #currentInfo {
        display: flex;
        flex-flow:row wrap;
        max-width: 189px;
    }


    #Tagline {
        font-size: 1.3rem;
    }
}

/*this media query needs to be based on column size as well as screen size 
as when the screen is big but column is reduced this doesnt take effect 
as flexbox makes it more malleable giving it more flexibility before it has to go small.
@media (max-width:482px){
    #currentInfo {
        display: flex;
        flex-flow:row wrap;
        max-width: 189px;
    }

    #currentInfo li {
        font-size: .5rem;
    }
}

    /* #currentInfo li:nth-child(3) {
        display:none;
    }  */

    /* is the same as  */

    /* #upNext {
        display:none;
    } */